{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">

            <div class="card shadow border-0 rounded-4">
                <div class="card-body p-4">

                    <h4 class="text-center fw-bold  mb-4"
                    style="color:#6f42c1;">
                        Change Password
                    </h4>

                    <form action="{% url 'change' st.id %}" method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <input type="password"
                                   name="password"
                                   class="form-control form-control-lg"
                                   placeholder="Enter new password"
                                   required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 py-2 fw-semibold"
                        style="background-color:#6f42c1; color:white; border:none;">
                            Update Password
                        </button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
